<!--The content below is only a placeholder and can be replaced.-->
<body class="mat-app-background">
<nav class="navbar navbar-expand-lg navbar-dark indigo" style="background-color: white">
    <ul style="text-align:right;">
        <li>
          <h2><a *ngIf="!isLoggedIn()" (click)="login()">Login</a></h2>
        </li>
        <li>
          <h2><a routerLink="talks">Tech Talks</a></h2>
        </li>
        <li>
          <h2><a *ngIf="isLoggedIn()" (click)="logout()">Logout</a></h2>
        </li>
      </ul>
</nav>

<router-outlet></router-outlet>
</body>
